{% extends 'main_template.html' %}

{% block content %}

<div class="col-md">
    <div class="row" style="margin-top: 10px;">
        <div class="col-7">
            <div class="card card-body">
                <h4>Preview and/or add ranks</h4>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <div class="card card-body">
                            <h5>Filter existing ranks</h5>
                            <hr>
                            <form method="get">
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">Code:</label>
                                    </div>
                                    <div class="col-9">
                                        {{rankFilter.form.code}}
                                    </div>
                                </div>
                                <button class="btn btn-outline-info btn-sm btn-block" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card card-body">
                            <div class="list-type4">
                                <ol>
                                    <div id="style-5" style="overflow-y: scroll; height:700px;">
                                        {% for rank in ranks %}
                                        <li><a href="{% url 'rank' rank.id %}"> {{rank.code}}

                                        </a></li>

                                        {% endfor %}
                                    </div>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card card-body">
                <h5>New rank</h5>
                <hr>
                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Code: </label>
                        <div class="col-sm-10" style="margin-bottom: 10px;">
                            <input type="text" , class="form-control" , name="rankCode" required>
                        </div>
                        <p>&nbsp;</p>
                        <div class="col-lg">
                            <button type="submit" , class="btn btn-outline-info btn-sm btn-block" , name="Create" ,
                                    value="save">Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}