{% extends 'main_template.html' %}

{% block content %}

<div class="col-md">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Rank: {{rank.code}}</h5>
                <hr>
                {% if request.user.is_staff %}
                <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Rank</a>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'delete_rank' rank.id %}">Delete
                    Rank</a>
                {% endif %}

            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Total References</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{reference_count}}</h1>
            </div>
        </div>
    </div>


    <br>

    <div class="row">
        <div class="col-3">
            <div class="card card-body">
                <form method="get">
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Title:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.title}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Author:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.user}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Team:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.team}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Project:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.project}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">From year:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.startYear}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">To year:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.endYear}}
                        </div>
                    </div>
                    <button class="btn btn-outline-info  btn-sm btn-block" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="col-9">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        {% comment %}
                        <th><a href=" {% url 'reference' reference.id %}">Title</a></th>
                        {% endcomment %}
                        <th>Title</th>
                        <th>Rank</th>
                        <th>Year</th>
                        <th>ISBN</th>
                        <th>DOI</th>
                        <th>ISSN</th>
                        {%if request.user in reference.author.all or request.user.is_staff %}
                        <th>Update</th>
                        <th>Delete</th>
                        {% endif %}
                    </tr>

                    {% for reference in references %}

                    <tr>
                        <td>{{reference.title}}</td>
                        <td>{{reference.rank.code}}</td>
                        <td>{{reference.year}}</td>
                        <td>{{reference.isbn}}</td>
                        <td>{{reference.doi}}</td>
                        <td>{{reference.issn}}</td>
                        {%if request.user in reference.author.all or request.user.is_staff %}
                        <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="">Remove</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}