{% extends 'main_template.html' %}

{% block content %}
<div class="col-md">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h3>{{reference.title}}</h3>
                <hr>
                {%if request.user in reference.author.all or request.user.is_staff %}
                <button id="update" class="btn btn-outline-info  btn-sm btn-block">Update Reference</button>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'delete_reference' reference.id %}">Delete
                    Reference</a>
                {% endif %}

            </div>
        </div>

        {% if reference.team %}
        <div class="col-md">
            <div class="card card-body">
                <h5>Team {{reference.team.name}}</h5>
                <hr>
                {%for user in reference.team.user.all %}
                <p><a href="{% url 'user' user.id %}">{{user.first_name}} {{user.last_name}}</a></p>
                {%endfor%}
            </div>
        </div>
        {% endif %}

        {% if reference.project %}
        <div class="col-md">
            <div class="card card-body">
                <h5>Project {{reference.project.code}}</h5>
                <hr>
                <p><a href="{% url 'project' reference.project.id %}">{{reference.project.title}}</a></p>
            </div>
        </div>
        {% endif %}

        {% if reference.editor.all|length > 0 %}
         <div class="col-md">
            <div class="card card-body">
                <h5>Editors</h5>
                <hr>
                {%for user in reference.editor.all %}
                <p><a href="{% url 'user' user.id %}">{{user.first_name}} {{user.last_name}}</a></p>
                {%endfor%}
            </div>
        </div>
        {% endif %}

    </div>

    <br>

    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                <h4>Reference attributes:</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card card-body">
                <form method="get">
                    {% if reference.rank %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Rank:</label>
                        </div>
                        <div class="col-9">
                            {{reference.rank.code}}
                        </div>
                    </div>
                    {% endif %}
                    {% if reference.publisher %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Publisher:</label>
                        </div>
                        <div class="col-9">
                            {{reference.publisher}}
                        </div>
                    </div>
                    {% endif %}
                    {% if reference.isbn %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">ISBN:</label>
                        </div>
                        <div class="col-9">
                            {{reference.isbn}}
                        </div>
                    </div>
                    {% endif %}
                    {% if reference.issn %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">ISSN:</label>
                        </div>
                        <div class="col-9">
                            {{reference.issn}}
                        </div>
                    </div>
                    {% endif %}
                    {% if reference.doi %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">DOI:</label>
                        </div>
                        <div class="col-9">
                            {{reference.doi}}
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>


        <div class="col-6">
            <div class="card card-body">
                <form method="get">
                    {% for attribute in reference.attributes.all %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label" style="text-transform: capitalize">{{attribute.name}}: </label>
                        </div>
                        <div class="col-9">
                            {{attribute.value}}
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>


    </div>

    <div class="row" id="update-row-label" style="display: none">
        <div class="col-12">
            <div class="card card-body">
                <h4> Edit reference</h4>
            </div>
        </div>
    </div>


    <form method="post">

        {% csrf_token %}

        <div class="row" id="update-row" style="display: none">
            <div class="col-6">
                <div class="card card-body">

                    {% if reference.title %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Title:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" , class="form-control" , name="title" , value="{{reference.title}}" required>
                        </div>
                    </div>
                    {% endif %}

                    {% if reference.team %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Team:</label>
                        </div>
                        <div class="col-9">
                            <select name="team"
                                    class="form-control">
                                <option value={{reference.team.id}} selected>{{reference.team.name}}</option>
                                {% for team in teams %}
                                {% if team.id != reference.team.id %}
                                <option value="{{ team.id }}">{{ team.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% else %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Team:</label>
                        </div>
                        <div class="col-9">
                            <select name="team"
                                    class="form-control">
                                {% for team in teams %}
                                <option value="{{ team.id }}">{{ team.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}

                    {% if reference.project %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Project:</label>
                        </div>
                        <div class="col-9">
                            <select name="project"
                                    class="form-control">
                                <option value={{reference.project.id}} selected>{{reference.project.title}}</option>
                                {% for project in projects %}
                                {% if project.id != reference.project.id %}
                                <option value="{{ project.id }}">{{ project.title }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% else %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Project:</label>
                        </div>
                        <div class="col-9">
                            <select name="project"
                                    class="form-control">
                                {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}

                    {% if reference.rank %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Rank:</label>
                        </div>
                        <div class="col-9">
                            <select name="rank"
                                    class="form-control">
                                <option value={{reference.rank.code}} selected>{{reference.rank.code}}</option>
                                {% for rank in ranks %}
                                {% if rank.code != reference.rank.code %}
                                <option value="{{ rank.code }}">{{ rank.code }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% else %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Rank:</label>
                        </div>
                        <div class="col-9">
                            <select name="rank"
                                    class="form-control">
                                {% for rank in ranks %}
                                <option value="{{ rank.code }}">{{ rank.code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}

                    {% if reference.year %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Year:</label>
                        </div>
                        <div class="col-9">
                            <input type="number" , class="form-control" , name="year" , value="{{reference.year}}" required>
                        </div>
                    </div>
                    {% endif %}

                     <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Add and/or remove editor(s): </label>
                        <div class="col-sm-9">
                            <div class="style-5" style="overflow-y: scroll; height:400px;">
                                {% for user in users %}
                                {% if user.first_name != "" and user.last_name != "" %}

                                {% if user in reference_editors %}
                                <li class="check-li"><input type="checkbox" , value="clicked" , name="c{{user.id}}" checked>
                                    {{user.first_name}} {{user.last_name}}
                                </li>
                                {% else %}
                                <li class="check-li"><input type="checkbox" , value="clicked" , name="c{{user.id}}">
                                    {{user.first_name}} {{user.last_name}}
                                </li>
                                {% endif %}

                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card card-body">
                    {% for attribute in reference.attributes.all %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label"
                                   style="text-transform: capitalize">{{attribute.name}}: </label>
                        </div>

                        <div class="col-sm-9" style="margin-bottom: 10px;">
                            <input type="text" , class="form-control" , name={{attribute.name}},
                                   value="{{attribute.value}}" required>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row" id="hide-update" style="display: none">
            <div class="col-12">
                <div class="card card-body">
                    <button id="submit-update-reference-btn" class="btn btn-outline-success  btn-sm btn-block"
                            type="submit"
                            name="update" value="update">SUBMIT
                    </button>
                    <button id="hide-edit-reference" class="btn btn-outline-info  btn-sm btn-block">HIDE EDITING
                    </button>
                </div>
            </div>
        </div>

    </form>

</div>

{% endblock %}