{% extends 'main_template.html' %}

{% block content %}
<div class="col-md">
    <div class="row">
        <div class="col-4">
            <div class="card card-body">
                <h5>Upload new reference(s)</h5>
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">BIB file: </label>
                        </div>
                        <div class="file-field col-9">
                            <div class="btn btn-info btn-sm btn-block" style="height: 85% !important;">
                                <label for="fusk" class="full-label">CHOOSE FILE</label>
                                <input id="fusk" type="file" name="document" accept=".bib" style="display: none;">
                            </div>
                        </div>
                    </div>
                    <button type="submit" , class="btn btn-outline-info btn-sm btn-block">Upload file</button>
                </form>
                <div class="form-group row">

                </div>
                {% if success_message%}
                <div class="success-div">
                    {{success_message}}
                </div>
                {%endif%}
                {% if error_message%}
                <div class="error-div">
                    {{error_message}}
                </div>
                {%endif%}
                {% if url %}
                <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
                {% endif %}
            </div>
        </div>

        <div class="col-8">
            <div class="card card-body">
                <h5>Total References</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{reference_count}}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Preview and/or search references</h5>
                <hr>
                <div class="row">
                    <div class="col-3">
                        <div class="card card-body">
                            <form method="get">
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">Title:</label>
                                    </div>
                                    <div class="col-9">
                                        {{referenceFilter.form.title}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">ISBN:</label>
                                    </div>
                                    <div class="col-9">
                                        {{referenceFilter.form.isbn}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">ISSN:</label>
                                    </div>
                                    <div class="col-9">
                                        {{referenceFilter.form.issn}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">DOI:</label>
                                    </div>
                                    <div class="col-9">
                                        {{referenceFilter.form.doi}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">Rank:</label>
                                    </div>
                                    <div class="col-9">
                                        {{referenceFilter.form.rank}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">Author:</label>
                                    </div>
                                    <div class="col-9">
                                        {{referenceFilter.form.author}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">Team:</label>
                                    </div>
                                    <div class="col-9">
                                        {{referenceFilter.form.team}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">Project:</label>
                                    </div>
                                    <div class="col-9">
                                        {{referenceFilter.form.project}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">From year:</label>
                                    </div>
                                    <div class="col-9">
                                        {{referenceFilter.form.startYear}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">To year:</label>
                                    </div>
                                    <div class="col-9">
                                        {{referenceFilter.form.endYear}}
                                    </div>
                                </div>
                                <button class="btn btn-outline-info btn-sm btn-block" type="submit">Search</button>
                            </form>
                        </div>
                    </div>


                    <div class="col-9">
                        <div class="card card-body">
                            <table class="table table-sm">
                                <tr>
                                    {% comment %}
                                    <th>Title</th>
                                    {% endcomment %}
                                    <th>Title</th>
                                    <th>Rank</th>
                                    <th>Year</th>
                                    <th>ISBN</th>
                                    <th>DOI</th>
                                    <th>ISSN</th>
                                    <th>Team</th>
                                    <!--                                    <th>Update</th>-->
                                    <th>Delete</th>
                                </tr>

                                {% for reference in references %}

                                <tr>
                                    <td><a href="{% url 'reference' reference.id %}">{{reference.book_title}}</a></td>
                                    <td>{{reference.rank.code}}</td>
                                    <td>{{reference.year}}</td>
                                    <td>{{reference.isbn}}</td>
                                    <td>{{reference.doi}}</td>
                                    <td>{{reference.issn}}</td>
                                    <td>{{reference.team}}</td>
                                    {%if request.user in reference.authors.all or request.user.username == "kajza"%}
                                    <!--                                    <td><a class="btn btn-sm btn-info" href="">Update</a></td>-->
                                    <td><a class="btn btn-sm btn-danger"
                                           href="{% url 'delete_reference' reference.id %}">Remove</a></td>
                                    {%endif%}
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

