<div class="col-9">
    <div class="card card-body style-5" style="height: 600px !important; overflow-y: scroll !important;">
        <table class="table table-sm">
            <tr>
                <th>Title</th>
                <th>Rank</th>
                <th>Year</th>
                <th>ISBN</th>
                <th>DOI</th>
                <th>ISSN</th>
                {%if request.user in reference.author.all or request.user.is_staff %}
                <th>Delete</th>
                {% endif %}
            </tr>

            {% for reference in references %}

            <tr>
                <td><a href=" {% url 'reference' reference.id %}">{{reference.title}}</a></td>
                <td>{{reference.rank.code}}</td>
                <td>{{reference.year}}</td>
                <td>{{reference.isbn}}</td>
                <td>{{reference.doi}}</td>
                <td>{{reference.issn}}</td>
                {%if request.user in reference.author.all or request.user.is_staff %}
                <td><a class="btn btn-sm btn-danger" href="{% url 'delete_reference' reference.id %}">Remove</a></td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
    </div>
</div>