{% extends 'main_template.html' %}

{% block content %}
<div class="col-md">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h4>{{team.name}}</h4>
                <hr>
                {%if request.user in team.user.all or request.user.is_staff %}
                <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Team</a>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'delete_team' team.id %}">Delete
                    Team</a>
                {% endif %}

            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Team members</h5>
                <hr>
                {%for user in team.user.all %}
                <p><a href="{% url 'user' user.id %}">{{user.first_name}} {{user.last_name}}</a></p>
                {%endfor%}
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Total References</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{reference_count}}</h1>
            </div>
        </div>
    </div>


    <br>

    <div class="row">
        <div class="col-3">
            <div class="card card-body">
                <form method="get">
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Title:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.title}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Project:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.project}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">From year:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.startYear}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">To year:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.endYear}}
                        </div>
                    </div>
                    <button class="btn btn-outline-info  btn-sm btn-block" type="submit">Search</button>
                </form>
            </div>
        </div>
        {% include 'referencesList.html' %}
    </div>
</div>

{% endblock %}