{% extends 'main_template.html' %}

{% block content %}

<div class="col-md">
    <div class="row" style="margin-top: 10px;">
        <div class="col-7">
            <div class="card card-body">
                <h4>Preview and/or add teams</h4>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <div class="card card-body">
                            <h5>Filter existing teams</h5>
                            <hr>
                            <form method="get">
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">Name:</label>
                                    </div>
                                    <div class="col-9">
                                        {{teamFilter.form.name}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="form-label">Author:</label>
                                    </div>
                                    <div class="col-9">
                                        {{teamFilter.form.user}}
                                    </div>
                                </div>
                                <button class="btn btn-outline-info btn-sm btn-block" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card card-body">
                            <div class="list-type4">
                                <ol>
                                    <div class="style-5" style="overflow-y: scroll; height:700px;">
                                        {% for team in teams %}
                                        <li><a href="{% url 'team' team.id %}"> {{team.name}}

                                        </a></li>
                                        {% for user in team.user.all %}
                                        <li class="sub-li"><a href="{% url 'user' user.id %}"> {{user.first_name}}
                                            {{user.last_name}}</a></li>
                                        {% endfor %}
                                        <hr>
                                        {% endfor %}
                                    </div>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card card-body">
                <h5>New team</h5>
                <hr>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Add user(s) to team: </label>
                        <div class="col-sm-9">
                            <div class="style-5" style="overflow-y: scroll; height:400px;">
                                {% for user in users %}
                                {% if user.first_name != "" and user.last_name != "" %}
                                <li class="check-li"><input type="checkbox" , value="clicked" , name="c{{user.id}}">
                                    {{user.first_name}} {{user.last_name}}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <p> &nbsp;</p>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Name: </label>
                        <div class="col-sm-10" style="margin-bottom: 10px;">
                            <input type="text" , class="form-control" , name="teamName" required>
                        </div>
                        <p>&nbsp;</p>
                        <div class="col-lg">
                            <button type="submit" , class="btn btn-outline-info btn-sm btn-block" , name="Create" ,
                                    value="save">Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
