{% extends 'main_template.html' %}

{% block content %}

<div class="col-md">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h4>{{user.first_name}} {{user.last_name}}</h4>
                <hr>
                <h5>{{user.email}}</h5>
                <h5 style="color: gray">{{user.username}}</h5>
                <hr>
                {%if request.user.id == user.id%}
                <button class="btn btn-outline-info  btn-sm btn-block" id="update">Update Profile</button>
                {% endif %}
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Teams</h5>
                <hr>
                {% for team in teams %}
                <p>Name: <a href=" {% url 'team' team.id %}">{{team.name}}</a></p>
                {%endfor%}
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Total References</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{reference_count}}</h1>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-3">
            <div class="card card-body">
                <form method="get">
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Title:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.title}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Project:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.project}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">From year:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.startYear}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">To year:</label>
                        </div>
                        <div class="col-9">
                            {{referenceFilter.form.endYear}}
                        </div>
                    </div>
                    <button class="btn btn-outline-info  btn-sm btn-block" type="submit">Search</button>
                </form>
            </div>
        </div>
        {% include 'referencesList.html' %}
    </div>

    <div class="row" id="update-row-label" style="display: none">
        <div class="col-12">
            <div class="card card-body">
                <h4> Edit profile</h4>
            </div>
        </div>
    </div>

    <form method="post">

        {% csrf_token %}

        <div class="row" id="update-row" style="display: none">

            <div class="col-12">
                <div class="card card-body">


                    {% if user.first_name %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">First Name:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" , class="form-control" , name="first_name" , value="{{user.first_name}}"
                                   required>
                        </div>
                    </div>
                    {% endif %}

                    {% if user.last_name %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Last Name:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" , class="form-control" , name="last_name" , value="{{user.last_name}}"
                                   required>
                        </div>
                    </div>
                    {% endif %}

                    {% if user.username %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">Username:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" , class="form-control" , name="username" , value="{{user.username}}"
                                   required>
                        </div>
                    </div>
                    {% endif %}

                    {% if user.email %}
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="form-label">E-mail:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" , class="form-control" , name="email" , value="{{user.email}}"
                                   required>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>

        <div class="row" id="hide-update" style="display: none">
            <div class="col-12">
                <div class="card card-body">
                    <button id="submit-update-reference-btn" class="btn btn-outline-success  btn-sm btn-block"
                            type="submit"
                            name="update" value="update">SUBMIT
                    </button>
                    <button id="hide-edit-reference" class="btn btn-outline-info  btn-sm btn-block">HIDE EDITING
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}