<div class="page-div">
  <!-- <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-style-9"> -->
  <div class="center-div">
    <input color="primary" accept=".bib" mat-raised-button type="file" name="document" formControlName="document"
      (change)="onFileSelected($event)" value="Select file" />
    <button (click)="onSubmit()">Submit</button>

    <!-- <form ng-submit="onSubmit()" enctype="multipart/form-data" name="form">
      <input type="file" files-input ng-model="document" (change)="onFileSelected($event)" value="Select file">
      <input type="submit">
    </form> -->
  </div>
  <!-- </form> -->
</div>