<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-style-9">
    <ul>
      <li>
        <input [(ngModel)]="register.first_name" formControlName="first_name" name="first_name"
          class="field-style field-full align-none" placeholder="First name" />
        <mat-error *ngIf="f.name?.touched && f.name?.errors">
          <div *ngIf="f.name.errors?.required">Name is obligatory</div>
          <div *ngIf="f.name.errors?.pattern">Name must contain only letters and start with upper case</div>
        </mat-error>
      </li>
      <li>
        <input [(ngModel)]="register.last_name" formControlName="last_name" name="last_name"
          class="field-style field-full align-none" placeholder="Last name" />
        <mat-error *ngIf="f.surname?.touched && f.surname?.errors">
          <div *ngIf="f.surname.errors?.required">Surname is obligatory</div>
          <div *ngIf="f.surname.errors?.pattern">Surname must contain only letters and start with upper case</div>
        </mat-error>
      </li>
      <li>
        <input [(ngModel)]="register.username" formControlName="username" name="username"
          class="field-style field-full align-none" placeholder="Username" />
        <mat-error *ngIf="f.username?.touched && f.username?.errors">
          <div *ngIf="f.username.errors?.required">Username is obligatory </div>
          <div *ngIf="f.username.errors?.minLength">Username must contain at least 2 characters</div>
          <div *ngIf="f.username.errors?.maxLength">Username must not contain more than 12 characters</div>
          <div *ngIf="f.username.errors?.pattern">Username must not contain more than 12 characters</div>
        </mat-error>
      </li>
      <li>
        <input [(ngModel)]="register.email" formControlName="email" name="email"
          class="field-style field-full align-none" placeholder="E-mail" />
        <mat-error *ngIf="f.email?.touched && f.email?.errors">
          <div *ngIf="f.email.errors?.required">Email is obligatory </div>
          <div *ngIf="f.email.errors?.email">Email is incorrect </div>
          <div *ngIf="f.email.errors?.pattern">Email must be in the following format: 'xxx@yyy.com'</div>
        </mat-error>
      </li>
      <li>
        <input [(ngModel)]="register.password" formControlName="password" type="password" name="password"
          class="field-style field-full align-none" placeholder="Password" />
        <mat-error *ngIf="f.password?.touched && f.password?.errors">
          <div *ngIf="f.password.errors?.required">Password is obligatory </div>
          <div *ngIf="f.password.errors?.minLength">Password must contain at least 8 characters</div>
          <div *ngIf="f.password.errors?.pattern">Password must contain at least one uppercase letter, one lowercase
            letter, one number and one special character and be at least 8 characters long</div>
        </mat-error>
      </li>
      <li>
        <input type="submit" value="Register" />
      </li>
    </ul>
  </form>
</div>